<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>66879182634-61jsdkvp6g8crrn3k1qo7b764unj8fl4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.66879182634-61jsdkvp6g8crrn3k1qo7b764unj8fl4</string>
	<key>API_KEY</key>
	<string>AIzaSyAKdVk9_MqFv_G3GT9vxO-u_ZRURLIhOOA</string>
	<key>GCM_SENDER_ID</key>
	<string>66879182634</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mmalec.ClimbersDiary</string>
	<key>PROJECT_ID</key>
	<string>climbersdiary-b88d3</string>
	<key>STORAGE_BUCKET</key>
	<string>climbersdiary-b88d3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:66879182634:ios:29f4dc2ea50a1e8ef5f053</string>
</dict>
</plist>